$primary:#007bff;
$secondary:#868e96;
$success:#28a745;
$danger:#dc3545;
$warning:#ffc107;
$info:#17a2b8;
$light:#f8f9fa;
$dark:#343a40;

$primary-hover:#0069d9;
$secondary-hover:#727b84;
$success-hover:#218838;
$danger-hover:#c82333;
$warning-hover:#e0a800;
$info-hover:#138496;
$light-hover:#e2e6ea;
$dark-hover:#23272b;

$color:#007bff;

$box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);